In [3]:
import pandas as pd

In [9]:
df = pd.read_csv('bank-data.csv')
df.head()

,id,age,sex,region,income,married,children,car,save_act,current_act,mortgage,pep
0,ID12101,48,FEMALE,INNER_CITY,17546.0,NO,1,NO,NO,NO,NO,YES
1,ID12102,40,MALE,TOWN,30085.1,YES,3,YES,NO,YES,YES,NO
2,ID12103,51,FEMALE,INNER_CITY,16575.4,YES,0,YES,YES,YES,NO,NO
3,ID12104,23,FEMALE,TOWN,20375.4,YES,3,NO,NO,YES,NO,NO
4,ID12105,57,FEMALE,RURAL,50576.3,YES,0,NO,YES,NO,NO,NO

In [19]:
df_mean_income_by_sex = df.groupby('sex')['income'].mean()

df_mean_income_by_sex

sex
FEMALE    27831.368233
MALE      27216.694200
Name: income, dtype: float64

In [22]:
df_cross_tab = pd.crosstab(df['save_act'], df['mortgage'], margins=False)
df_crosstab

NameError: name 'df_crosstab' is not defined

In [21]:
df_percentage_cross_tab = cross_tab.apply(lambda r: r/r.loc['All']*100, axis=1)
df_percentage_cross_tab

NameError: name 'cross_tab' is not defined

In [15]:
df_percentage_cross_tab = cross_tab.apply(lambda r: r/r.loc['All']*100, axis=1)
df_percentage_cross_tab

NameError: name 'cross_tab' is not defined